
discord.py
jishaku
aiogTTS
aiohttp
asyncakinator
async_timeout
asyncdagpi
asyncpg
doc_search
humanize
psutil
pytz
roblox
sr_api
toml
wavelink
git+https://github.com/jay3332/tag-formatter
git+https://github.com/avizum/asyncgist/
git+https://github.com/edugomez102/twemoji-parser