
git+https://github.com/Rapptz/discord.py
git+https://github.com/Gorialis/jishaku
pip install -U git+https://github.com/ShineyDev/prettify.py
aiogTTS
aiohttp
akinator.py
async_timeout
asyncdagpi
asyncgist
asyncpg=
doc_search
humanize
psutil
pytz
roblox
sr_api
tag_formatter
toml
twemoji_pars
wavelink
